<template name="contact">

<div  class="row-fluid">
 <div class="span1"></div>
<div class="span10">






<address>
  <h1>Viking Signs Ltd</strong></h1>
  <blockquote><p>Dysart Road</blockquote></p>
  <blockquote><p>Grantham</blockquote></p>
  <blockquote><p> Lincs</blockquote></p>
  <blockquote><p>NG31 7LE</blockquote></p>
 <blockquote><p><abbr title="Phone">P:</abbr> +44 (0)1476 590261 (National call rate)</blockquote></p>
<blockquote><p> <abbr title="Phone">P:</abbr> 0845 154 0908 (UK Local call rate)</blockquote></p>
 <blockquote><p>  Email: sales@vikingsigns.co.uk</blockquote></p>
</address>


</div><div class="span1"></div>
</template>