<template name="faq">
<div class="span1"></div>
<div class="span10">
<h1>Frequently Asked Questions</h1>

<div id="main" class="row-fluid">

  <h3>What are the graphics made of? </h3>
  <blockquote><p>They are made of special easy-fit privacy vinyl. They let light through, but stop people looking in from outside. Any white / clear areas of the image will show as an opaque white.  </p></blockquote>
   <h3>How easy are they to fit?</h3>
  <blockquote><p>Tricky! This is a moderate to hard DIY / home improvement task. If you are happy putting up patterned wallpaper, then you should be fine. If not we recommend getting a decorator or experienced friend to help you with the fitting. We provide a fitting kit and full instrcuctions on how to fit the vinyls, but they take a bit of precision to get just right. </p></blockquote>
  </div>

   <h3>What comes with the kit?</h3>
  <blockquote>
  	<p>
  		Your window design, a squeegee to help fit and some practice vinyl so you can have a go at fitting before you stick your final graphic up.
  </p></blockquote>

  </div>
<div class="span1"></div>
</template>