<template name="homePage">




<div id="main" class="row-fluid">
  <div class="span1"></div>
  <div class="span10">

<div class="hero-unit">
    <H2>Cover up ugly views using your own images. &nbsp; Make your windows beautiful.</h2>

</div>

<ul class="thumbnails">
  <li class="span3">
    <h3> 1) Measure your window</h3>
    <blockquote><p>Tocover up an ugly urban view, or to get some privacy - start by measuring your window.</p> </blockquote> 
    <div class="thumbnail">
      <img src="/bathroomWindowNoGraphics.jpg" alt="">
    </div>
  </li>

  <li class="span3">
     <h3>2) Upload your image</h3>
      <blockquote><p>Upload an image.  It could be a beautiful outdoor view, a motivational saying or an abstract design.</p> </blockquote> 
    <div class="thumbnail">
      <img src="upload.jpg" alt="">
    </div>
  </li>

  <li class="span3">
    <h3>3) Approve your proof</h3>
     <blockquote><p>We will lay out your image using your window dimensions, then send you a proof to approve.</p></blockquote>
    <div class="thumbnail"> 
      <img src="proof.jpg" alt="">
    </div>
  </li>
    <li class="span3">
    <h3>4) Fit your graphics</h3>
          <blockquote><p>We will send you your design printed onto privacy vinyl. It lets light in, but  gives you privacy. </p></blockquote>    

      <div class="thumbnail">
   
         <img src="/bathroomWindowGraphics.jpg" alt="Window Graphics from Improve The View">

        </div>
      </li>
    </ul>
</div>
</template>