<template name="order">

<div  class="row-fluid">
 <div class="span1"></div>
<div class="span10">
<h1>Order your Improve The View window graphics: </h1>

<div>

    <form class="form-horizontal">
        <div class="control-group">
            <h4>Your Window: </h4>
            <div class="control-group">
                    <label class="control-label" for="windowHeight">
                        Window Height (mm)
                    </label>
                    <div class="controls">
                        <input name="windowHeight" type="text" value=""placeholder=""/>
                    </div>
            </div>

                <div class="control-group">
                    <label class="control-label" for="windowWidth">
                        Window Width (mm)
                    </label>
                    <div class="controls">
                        <input name="windowWidth" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <h4>Your Details: </h4>
                <div class="control-group">
                    <label class="control-label" for="firstName">
                        First Name
                    </label>
                    <div class="controls">
                        <input name="firstName" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="secondName">Last Name</label>
                    <div class="controls">
                        <input name="secondName" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="phoneNumber">Phone Number</label>
                    <div class="controls">
                        <input name="phoneNumber" type="text" value=""placeholder=""/>
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <div class="controls">
                        <input name="emailAddress" type="text" value=""placeholder=""/>
                    </div>
                </div>
                 <h4>Your Address: </h4>
                <div class="control-group">
                    <label class="houseNo" for="Title">House Name / Number</label>
                    <div class="controls">
                        <input name="houseNo" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="street">Street</label>
                    <div class="controls">
                        <input name="street" type="text" value=""placeholder=""/>
                    </div>
                </div>
                    <div class="control-group">
                    <label class="control-label" for="address2">Address Line 2</label>
                    <div class="controls">
                        <input name="address2" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="address3">Address Line 3</label>
                    <div class="controls">
                        <input name="address3" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="town">Town / City</label>
                    <div class="controls">
                        <input name="town" type="text" value=""placeholder=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="county">County / Province / State</label>
                    <div class="controls">
                        <input name="county" type="text" value=""placeholder=""/>
                    </div>
                </div>
              
                <div class="control-group">
                    <label class="control-label" for="postCode">Post Code / ZIP code</label>
                    <div class="controls">
                        <input name="postCode" type="text" value=""placeholder=""/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Title">Country</label>
                    <div class="controls">
                        <input name="title" type="text" value=""placeholder=""/>
                    </div>
                </div>
                       <div class="controls">
                          <textarea rows="10" name="comments"></textarea>
                      </div>
                      <p>&nbsp;</p>

               <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                  </div>
                  <hr/>
                  
                </div> 
    </form>




</div><div class="span1"></div>
</div>
   </template>