<template name="pricing">


<div  class="row-fluid">
 <div class="span1"></div>
<div class="span10">

	<h1>Pricing</h1>

	<h2>We have a simple pricing per window. </h2>

	<blockquote><p>Every individual window you would like to cover is £50 per window. </p> </blockquote>

	<blockquote><p>An individual window can be anything up to 2m squared in size.  </p></blockquote>
	
	<blockquote><p>For multiple windows please contact us at sales@vikingsigns.co.uk and we will be happy to help. </p></blockquote>

	<h2>Delivery Charges</h2>

	<blockquote><p>Delivery is free.  We will deliver in 3-5 working days anywhere in the UK. </p></blockquote>

	<blockquote><p>Please contact us if you would like us to quote for international shipping. </p></blockquote>

</div>
 </div><div class="span1"></div>
</template>