<template name="upload">
<div id="main" class="row-fluid">
  <div class="span1"></div>
  <div class="span10">

<h3>Order your Improve The View window graphics: </h3>

<div>
<button class="btn btn-large btn-primary zip-open-button" id="filePicker" a href="#">Upload your image</button></a>
</div>

<div class="span6"></span>
<h3>What about multiple images?</h3>
We are happy to provide graphics for multiple windows. Please email us at sales@vikingsigns.co.uk with your images and window dimensions and we will produce a design for you. 
<h3>What if my image needs cropping?</h3>
If you have cropped your image to the right proportions we will use it as is.  Otherwise one of our designers will work on fitting your image into the correct layout. We will send you a proof before we ask for any payment. So if you aren't happy, you won't pay. 
<h3>What resolution does the image need to be?</h3>
Ideally the image will be 300dpi in the dimensions of the window. But please just upload the best quality image you have and we will let you know if we can work with it.
<h3>Can you work with vector files?</h3>
Absolutely upload the file using the upload button, or email to sales@vikingsigns.co.uk
</div>
<div class="span6"></span>
<div class="span1"></div>
</template>